---
name: starr
services:

  # Torrent indexers centrilized for Radarr & Sonarr
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  # Indexer proxy for Prowlarr
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ={TIMEZONE}
    ports:
      - 8191:8191
    restart: unless-stopped

  # Search & download TV shows
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./sonarr/config:/config
      - ${DATA_DIR}:/data
    ports:
      - 8989:8989
    restart: unless-stopped

  # Search & download movies
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./radarr/config:/config
      - ${DATA_DIR}:/data
    ports:
      - 7878:7878
    restart: unless-stopped
  
  # Search & download subtitles 
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./bazarr/config:/config
      - ${DATA_DIR}/media:/data/media
    ports:
      - 6767:6767
    restart: unless-stopped

  # Media server
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./jellyfin/config:/config
      - ${DATA_DIR}/media:/data/media
    ports:
      - 8096:8096
    restart: unless-stopped  
  
  # Plex  
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - ./plex/library:/config
      - ${DATA_DIR}/media:/data/media
    restart: unless-stopped

  # Overseer fork for Jellyfin
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
    volumes:
      - ./jellyseerr/config:/app/config
    ports:
      - 5056:5055
    restart: unless-stopped

  # Torrent / Downloader client  
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TIMEZONE}
      - WEBUI_PORT=8081
    volumes:
      - ./qbittorrent/config:/config
      - ${DATA_DIR}/torrents:/data/torrents
    ports:
      - 8081:8081
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
